<div class="flex justify-between items-center p-2 rounded-lg my-4 bg-gray-900 shadow-md">
  <div class="text-lg font-semibold text-gray-700">
      <!-- Search Input -->
      <form (ngSubmit)="search()"  class="w-full relative">
        <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-3.5">
          <svg class="shrink-0 size-4 text-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
        </div>
        <input [(ngModel)]="keyword" name="keyword"  type="text" class="py-2 ps-10 pe-16 block w-full bg-gray-800 text-white border-gray-200 rounded-lg text-sm focus:outline-none  disabled:opacity-50 disabled:pointer-events-none " placeholder="Search in cameras">
        <div class=" absolute inset-y-0 end-0 flex items-center cursor-point z-20 pe-1">
          <button  type="button" class="inline-flex cursor-pointer shrink-0 justify-center items-center size-6 rounded-full text-gray-500 hover:text-white focus:outline-none focus:text-white " aria-label="Close">
            <span class="sr-only">Close</span>
            <span (click)="op.toggle($event)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
              </svg>
            </span>
          </button>

          <button type="submit" class="hidden"></button>
        </div>

      </form>


      <div class="w-full h-full card flex justify-end">
        <!-- <p-button  icon="pi pi-share-alt" class="border my-4 px-4 py-2" label="Share" /> -->
        <p-overlayPanel styleClass="top-4 mt-16 ml-80 lg:mt-8 w-full p-4 max-w-[900px] rounded-lg" #op>
            <div class="w-full">
              <div class="title text-lg text-gray-800 ">Select Data Category</div>

              <div class="categories flex gap-4 mt-2">
                <div (click)="selectSearchType('facial recognition')" [ngClass]="{'bg-blue-100': searchType==='facial recognition'}" class="chip cursor-pointer text-sm text-gray-500 rounded-full px-4 py-2 hover:bg-blue-100">Facial recognition</div>
                <div (click)="selectSearchType('license plate')" [ngClass]="{'bg-blue-100': searchType==='license plate'}" class="chip cursor-pointer text-sm text-gray-500 rounded-full px-4 py-2 hover:bg-blue-100">License plate</div>
                <div (click)="selectSearchType('pet')" [ngClass]="{'bg-blue-100': searchType==='pet'}" class="chip cursor-pointer text-sm text-gray-500 rounded-full px-4 py-2 hover:bg-blue-100">Pet</div>
              </div>

              @if(searchType == 'facial recognition' || searchType=='pet'){
                <div class="sections flex-col lg:flex-row flex  w-full gap-8 mt-8">
                  <div class="cameras basis-[50%]">
                    <div class="title mb-4">Select Camera</div>

                    <p-checkbox
                    styleClass="h-[20px] w-[20px] flex justify-center items-center rounded-md border border-gray-800 "
                    labelStyleClass="text-gray-600 text-sm"
                    label="All"
                    [binary]="true"
                    variant="outlined"
                    (onChange)="checkAllCamera()"
                    inputId="binary" />

                    <div class="divider border-b w-full my-4"></div>

                    <div class="cameras flex gap-4 mt-2">
                      <div *ngIf="cameras?.length>0 " class="card">
                        <ng-container  *ngFor="let camera of cameras">
                          <div class="flex ">
                            <p-checkbox
                                [(ngModel)]="selelctedCameras"
                                labelStyleClass="text-gray-800 text-sm"
                                [label]="camera.camera_name"
                                styleClass="h-[20px] w-[20px] flex justify-center items-center rounded-md border border-gray-800"
                                name="Group"
                                [value]="camera.camera_name" />
                              <br>
                        </div>
                        </ng-container>



                    </div>
                    <div class="h-[300px]" (click)="op.toggle($event)" >
                      <ng-container  *ngIf="cameras.length<=0">
                        <app-empty-page buttonName="Connect camera" (buttonAction)="route('/app/cameras')" message="You don’t have any camera connected...connect a camera to search"></app-empty-page>
                      </ng-container>
                    </div>
                    </div>
                  </div>
                  <div class="cameras basis-[50%]">
                    <div class="title">Upload Image</div>

                    <label for="uploadImage">
                      <div class="image-layout mt-2 py-6 px-4 flex flex-col justify-center items-center gap-4 w-full border-2 border-dashed rounded-lg ">
                        <div class="icon w-16 h-16 rounded-full flex justify-center items-center bg-gray-50">
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cloud-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708z"/>
                            <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
                          </svg>
                        </div>

                        <div class="text text-sm flex justify-center flex-col items-center">
                          <p><span class="font-bold">Click to upload</span> or drag and drop</p>
                          <p>png or jpg (max 800 x 400)</p>
                        </div>

                        <div class="divide w-full text-sm my-2 flex items-center">
                          <div class="divider border-b w-full "></div>
                          <div class="">Or</div>
                          <div class="divider border-b w-full"></div>
                        </div>

                        <div class="button">
                        <div class="px-4 py-2 bg-blue-100 rounded-lg text-sm text-secondary">Browse Files</div>
                      </div>
                      <p *ngIf="file">{{file.name}}</p>

                      </div>
                    </label>
                    <input type="file"
                      (change)="onImageSelect($event)"
                      accept="image/jpeg"
                      id="uploadImage"
                      class="absolute hidden inset-0 w-full h-full opacity-0 cursor-pointer"
                      >
                  </div>
                </div>
              } @else {
                <div class="mt-6">
                  <input [(ngModel)]="keyword" name="keyword"  type="text" class="py-3 ps-10 pe-16 block w-full bg-gray-100 text-gray-800 border-gray-200 rounded-lg text-sm focus:outline-none  disabled:opacity-50 disabled:pointer-events-none " placeholder="Search for license plate">
                </div>
              }



              <div (click)="op.toggle($event)"  class="button w-full mt-8">
                <p-button (onClick)="search()" styleClass="bg-secondary px-4 py-3 text-white text-sm w-full rounded-md justify-center" [loading]="loading" label="Search"></p-button>
              </div>

            </div>
        </p-overlayPanel>
    </div>

      <!-- End Search Input -->
  </div>
  <div class="flex items-center">
    <button id="hs-dropdown-account" type="button" class=" inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-800 focus:outline-none disabled:opacity-50 disabled:pointer-events-none " aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
      <img class="shrink-0 size-[30px] rounded-full" src="https://images.unsplash.com/photo-1522529599102-193c0d76b5b6?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Avatar">
    </button>

    <div class="card flex justify-content-center">
      <p-menu #menu [model]="items" [popup]="true" />

      <p-button class="text-white text-lg" (onClick)="menu.toggle($event)" icon="pi pi-angle-down"/>
  </div>

  </div>
</div>
