<div class="flex justify-between items-center p-2 rounded-lg my-4 bg-gray-900 shadow-md">
  <div class="text-lg font-semibold text-gray-700">
      <!-- Search Input -->
      <div (click)="op.toggle($event)"  class="w-full relative">
        <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-3.5">
          <svg class="shrink-0 size-4 text-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
        </div>
        <input  type="text" class="py-2 ps-10 pe-16 block w-full bg-gray-800 text-white border-gray-200 rounded-lg text-sm focus:outline-none focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none " placeholder="Search in cameras">
        <div class="hidden absolute inset-y-0 end-0 flex items-center pointer-events-none z-20 pe-1">
          <button type="button" class="inline-flex shrink-0 justify-center items-center size-6 rounded-full text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600 " aria-label="Close">
            <span class="sr-only">Close</span>
            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg>
          </button>
        </div>

      </div>


      <div class="w-full h-full card flex justify-center">
        <!-- <p-button  icon="pi pi-share-alt" class="border my-4 px-4 py-2" label="Share" /> -->
        <p-overlayPanel styleClass="top-4 mt-16 lg:mt-8 w-full p-4 max-w-[900px] rounded-lg" #op>
            <div class="w-full">
              <div class="title text-lg text-gray-800 ">Select Data Category</div>

              <div class="categories flex gap-4 mt-2">
                <div class="chip cursor-pointer text-sm text-gray-500 rounded-full bg-blue-100 px-4 py-2 hover:bg-blue-100">Facial recognition</div>
                <div class="chip cursor-pointer text-sm text-gray-500 rounded-full px-4 py-2 hover:bg-blue-100">License plate</div>
                <div class="chip cursor-pointer text-sm text-gray-500 rounded-full px-4 py-2 hover:bg-blue-100">Pet</div>
              </div>

              <div class="sections flex-col lg:flex-row flex  w-full gap-8 mt-8">
                <div class="cameras basis-[50%]">
                  <div class="title mb-4">Select Camera</div>

                  <p-checkbox
                  styleClass="h-[20px] w-[20px] flex justify-center items-center rounded-md border "
                  [(ngModel)]="checkAll"
                  labelStyleClass="text-gray-600 text-sm"
                  label="All"
                  [binary]="true"
                  inputId="binary" />

                  <div class="divider border-b w-full my-4"></div>

                  <div class="cameras flex gap-4 mt-2">
                    <div class="card grid grid-cols-2 gap-6">
                      <div class="flex align-items-center">
                          <p-checkbox
                              [(ngModel)]="cameras"
                              labelStyleClass="text-gray-600 text-sm"
                              label="Cam"
                              styleClass="h-[20px] w-[20px] flex justify-center items-center rounded-md border "
                              name="Cam"
                              in
                              value="Cheese" />
                      </div>
                      <div class="flex align-items-center">
                          <p-checkbox
                              [(ngModel)]="cameras"
                              label="Camera 2"
                              labelStyleClass="text-gray-600 text-sm"
                              styleClass="h-[20px] w-[20px] flex justify-center items-center rounded-md border "
                              name="cameras"
                              value="Camera 2" />
                      </div>
                      <div class="flex align-items-center">
                          <p-checkbox
                              [(ngModel)]="cameras"
                              label="Private Camera"
                              labelStyleClass="text-gray-600 text-sm"
                              styleClass="h-[20px] w-[20px] flex justify-center items-center rounded-md border "
                              name="cameras"
                              value="Private Camera" />
                      </div>
                      <div class="flex align-items-center">
                          <p-checkbox
                              [(ngModel)]="cameras"
                              label="Camera 1"
                              labelStyleClass="text-gray-600 text-sm"
                              styleClass="h-[20px] w-[20px] flex justify-center items-center rounded-md border "
                              name="cameras"
                              value="Camera 1" />
                      </div>

                      <div class="flex align-items-center">
                        <p-checkbox
                            [(ngModel)]="cameras"
                            label="Camera 8"
                            labelStyleClass="text-gray-600 text-sm"
                            styleClass="h-[20px] w-[20px] flex justify-center items-center rounded-md border "
                            name="cameras"
                            value="Camera 8" />
                    </div>
                  </div>
                  </div>
                </div>
                <div class="cameras basis-[50%]">
                  <div class="title">Upload Image</div>

                  <p-toast />
                  <p-fileUpload styleClass="border border-dashed rounded-lg mt-2" name="myfile[]" url="https://www.primefaces.org/cdn/api/upload.php" [multiple]="true" accept="image/*" maxFileSize="1000000" (onUpload)="onTemplatedUpload()" (onSelect)="onSelectedFiles($event)">
                      <ng-template pTemplate="header" styleClass="bg-red-500" let-files let-chooseCallback="chooseCallback" let-clearCallback="clearCallback" let-uploadCallback="uploadCallback">
                          <div class="flex flex-wrap justify-between items-center flex-1 gap-2">
                              <div class="flex gap-2">
                                  <p-button class="text-color" (onClick)="choose($event, chooseCallback)" icon="pi pi-images" [rounded]="true" [outlined]="true" />
                                  <p-button class="rounded-full" (onClick)="uploadEvent(uploadCallback)" icon="pi pi-cloud-upload" [rounded]="true" [outlined]="true" severity="success" [disabled]="!files || files.length === 0" />
                                  <p-button (onClick)="clearCallback()" icon="pi pi-times" [rounded]="true" [outlined]="true" severity="danger" [disabled]="!files || files.length === 0" />
                              </div>
                              <p-progressBar [value]="totalSizePercent" [showValue]="false" styleClass="md:w-20rem h-1rem w-full md:ml-auto" [ngClass]="{ 'exceeded-progress-bar': totalSizePercent > 100 }">
                                  <span class="white-space-nowrap">{{ totalSize }}B / 1Mb</span>
                              </p-progressBar>
                          </div>
                      </ng-template>
                      <ng-template pTemplate="content" let-files let-uploadedFiles="uploadedFiles" let-removeFileCallback="removeFileCallback" let-removeUploadedFileCallback="removeUploadedFileCallback">
                          <div *ngIf="files?.length > 0">
                              <h5>Pending</h5>
                              <div class="flex flex-wrap p-0 sm:p-5 gap-5">
                                  <div *ngFor="let file of files; let i = index" class="card m-0 px-6 flex flex-column border-1 surface-border align-items-center gap-3">
                                      <div>
                                          <img role="presentation" [alt]="file.name" [src]="file.objectURL" width="100" height="50" />
                                      </div>
                                      <span class="font-semibold">{{ file.name }}</span>
                                      <div>{{ formatSize(file.size) }}</div>
                                      <p-badge value="Pending" severity="warning" />
                                      <p-button icon="pi pi-times" (onClick)="onRemoveTemplatingFile($event, file, removeFileCallback, i)" [outlined]="true" [rounded]="true" severity="danger" />
                                  </div>
                              </div>
                          </div>
                          <div *ngIf="uploadedFiles?.length > 0">
                              <h5>Completed</h5>
                              <div class="flex flex-wrap p-0 sm:p-5 gap-5">
                                  <div *ngFor="let file of uploadedFiles; let i = index" class="card m-0 px-6 flex flex-column border-1 surface-border align-items-center gap-3">
                                      <div>
                                          <img role="presentation" [alt]="file.name" [src]="file.objectURL" width="100" height="50" />
                                      </div>
                                      <span class="font-semibold">{{ file.name }}</span>
                                      <div>{{ formatSize(file.size) }}</div>
                                      <p-badge value="Completed" class="mt-3" severity="success" />
                                      <p-button icon="pi pi-times" (onClick)="removeUploadedFileCallback(i)" [outlined]="true" [rounded]="true" severity="danger" />
                                  </div>
                              </div>
                          </div>
                      </ng-template>
                      <ng-template pTemplate="file"> </ng-template>
                      <ng-template pTemplate="empty">
                          <div class="flex items-center justify-center flex-col py-12">
                              <i class="pi pi-cloud-upload border-2 rounded-full p-5 text-2xl text-400 border-400"></i>
                              <p class="mt-4 mb-0 text-gray-600">Drag and drop files here to upload.</p>
                          </div>
                      </ng-template>
                  </p-fileUpload>
                </div>
              </div>

              <div (click)="op.toggle($event)"  class="button w-full mt-8">
                <p-button (onClick)="route('/app/search-page')" styleClass="bg-secondary px-4 py-3 text-white text-sm w-full rounded-md justify-center" [loading]="loading" label="Search"></p-button>
              </div>

            </div>
        </p-overlayPanel>
    </div>

      <!-- End Search Input -->
  </div>
  <div class="flex items-center">
    <button id="hs-dropdown-account" type="button" class=" inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-800 focus:outline-none disabled:opacity-50 disabled:pointer-events-none " aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
      <img class="shrink-0 size-[30px] rounded-full" src="https://images.unsplash.com/photo-1522529599102-193c0d76b5b6?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Avatar">
    </button>

    <div class="card flex justify-content-center">
      <p-menu #menu [model]="items" [popup]="true" />
      <p-button class="text-white text-lg" (onClick)="menu.toggle($event)" icon="pi pi-angle-down"/>
  </div>

  </div>
</div>
