<div class="card flex justify-content-center">
  <p-breadcrumb
      class="max-w-full"
      [model]="items"
      [home]="home" />
</div>


<div class="card mx-auto w-[400px] mt-12 rounded-xl flex items-center justify-center">
  <p-card styleClass="w-[400px] p-2">
    <div class="header text-2xl ">Connect Camera</div>

    <form [formGroup]="cameraForm" (ngSubmit)="saveCamera()" class="flex flex-col gap-3 mt-4">

      <div class="flex flex-col gap-1">
        <label for="name">Camera name</label>
        <input formControlName="camera_name" type="text" class="px-4 py-2 text-sm rounded-md border text-gray-600 outline-none" placeholder="Camera name">
      </div>

      <div class="flex flex-col gap-1">
        <label  for="name">Enter IMEI</label>
        <input formControlName="imei" type="text" class="px-4 py-2 text-sm rounded-md border text-gray-600 outline-none" placeholder="IMEI">
      </div>

      <div class="flex flex-col gap-1">
        <label  for="name">Footage url</label>
        <input formControlName="footage_url" type="text" class="px-4 py-2 text-sm rounded-md border text-gray-600 outline-none" placeholder="Footage link">
      </div>


      <div class="flex flex-col gap-1">
        <label  for="name">Enter password</label>
        <input autocomplete="new-password" formControlName="password" type="password" class="px-4 py-2 text-sm rounded-md border text-gray-600 outline-none" placeholder="Password">
      </div>


      <button type="submit" class="flex flex-col gap-1 mt-4">
        <p-button styleClass="bg-secondary w-full rounded-md px-3 py-3 text-sm text-white"  [loading]="loading" label="Connect camera"></p-button>
      </button>

    </form>
  </p-card>
</div>



<!-- <p-button (onClick)="showDialog()" label="Show" /> -->
<p-dialog   [modal]="true" [(visible)]="visible" [style]="{ width: '20rem' }">
    <ng-template pTemplate="headless">
      <div class="bg-white border rounded-lg flex flex-col items-center px-6 py-8">
        <div class="icon h-12 w-12 rounded-full bg-green-100 flex justify-center items-center">
          <span class="text-success">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
          </span>
        </div>

        <div class="action mt-2 text-xl">Connected</div>

        <p class="mt-1 text-gray-600">The camera has been connected</p>

        <div>
          <button (click)="route('app/home')" class="px-6 mt-4 py-2 rounded-lg bg-gray-100 text-sm text-gray-800">Home</button>
        </div>

      </div>
    </ng-template>
</p-dialog>
