<div class="section">
    <div class="videos">
        <div class="header pt-6 grid grid-cols-1 lg:grid-cols-2">
          <div class="title text-2xl text-gray-800">Database</div>
            <app-search-upload-header></app-search-upload-header>
        </div>

        <div class="pt-6 grid grid-cols-4 gap-4">
          <ng-container  *ngFor="let row of data">
            <app-image-card [imageTitle]=row></app-image-card>
          </ng-container>
        </div>


        <div *ngIf="data.length<=0 && !loading" class="w-full flex justify-center items-center">
          <app-empty-page message="You don't have items on your database now"></app-empty-page>

        </div>


        <div *ngIf="data.length<=0 && loading" class="w-full flex justify-center items-center">
          <i class="pi pi-spin pi-spinner-dotted" style="font-size: 2rem"></i>
        </div>


    </div>
</div>
