<div class="title text-xl pt-4 b-2">Notifications</div>
<div>
  <p-checkbox
    [(ngModel)]="forwardNotification"
    labelStyleClass="text-gray-800 text-sm"
    label="Forward notifications to associated mail"
    styleClass="h-[20px] w-[20px] flex justify-center items-center rounded-md border border-gray-800"
    name="Group"
    [value]="true" />
<span></span>
</div>

<div class="mt-6 py-2 flex flex-col gap-4">
  <ng-container *ngFor="let notification of notifications">
    <div class="card ">
      <p-card header="Notifications">
        <p class="m-0 truncate">
            {{notification}}
        </p>
    </p-card>
    </div>
  </ng-container>

  <div *ngIf="notifications.length<=0 && !loading" class="w-full flex justify-center items-center">
    <app-empty-page message="You don't have notifications now"></app-empty-page>

  </div>


  <div *ngIf="notifications.length<=0 && loading">
    <app-loader></app-loader>
  </div>


</div>



