<div *ngIf="connectedCameras.length<=0 ">
  <app-empty-page buttonName="Connect camera" (buttonAction)="route('/app/cameras')" message="You don’t have any camera connected...connect a camera to get started"></app-empty-page>
</div>

<div>

  <div class="mt-4" *ngIf="connectedCameras.length > 0">
    <div class="title text-xl pt-4 pb-4 flex justify-between items-center">
      Connected Cameras

      <button (click)="route('/app/cameras')" class="px-4 py-2 bg-secondary active:bg-secondary/85 rounded-lg text-sm text-white">Add Camera</button>
    </div>
      <app-camera-card [cameras]="connectedCameras"></app-camera-card>
    </div>
</div>



<div>

  <div class="title text-xl pt-6">Search History</div>

  <div class="my-6">
    <div class="card border rounded-lg">
      <p-table [value]="searchHistory"
                [paginator]="true"
                [rows]="5"
                [loading] = "loading"
                [rowsPerPageOptions]="[5, 10, 20]"
                [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
              <tr>
                  <th class="text-gray-800 font-medium py-3">Searched Keyword/Image</th>
                  <th class="text-gray-800 font-medium py-3 flex w-full justify-between">
                    Object type
                    <div class="hs-dropdown relative inline-flex">
                      <button (click)="toggleTableMenu()" id="hs-dropdown-unstyled" type="button" class="hs-dropdown-toggle inline-flex justify-center items-center gap-x-2" aria-expanded="false" aria-label="Menu">
                        <i class="pi pi-angle-down pi-cog" style="font-size: 1rem"></i>
                      </button>

                      <div *ngIf="tableMenu" class="absolute w-56 z-10 mt-2 min-w-60 bg-white top-5 right-0 border rounded-md text-gray-500" role="menu" aria-labelledby="hs-dropdown-unstyled">
                        <a class=" font-normal border-b p-3 flex gap-2 items-center text-sm cursor-pointer hover:bg-gray-100 active:bg-gray-100/85 " href="">
                          <span><img src="/assets/icons/pets.png" alt=""></span>
                          <span>Animals</span>
                        </a>
                        <a class=" font-normal border-b p-3 flex gap-2 items-center text-sm cursor-pointer hover:bg-gray-100 active:bg-gray-100/85 " href="">
                          <span><img src="/assets/icons/license-plate.png" alt=""></span>
                          <span>License plate</span>
                        </a>
                        <a class=" font-normal border-b p-3 flex gap-2 items-center text-sm cursor-pointer hover:bg-gray-100 active:bg-gray-100/85 " href="">
                          <span><img src="/assets/icons/user-tick.png" alt=""></span>
                          <span>Facial recognition</span>
                        </a>
                      </div>
                    </div>
                  </th>
                  <th class="text-gray-800 font-medium py-3">Camera name</th>
                  <th class="text-gray-800 font-medium py-3">Camera location</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-history>
              <tr class="border text-gray-500">
                  <td class="py-4">
                    <span *ngIf="history.searchKeyword">{{ history.searchKeyword }}</span>
                    <span *ngIf="history.image">
                      <img src="https://images.unsplash.com/photo-1522529599102-193c0d76b5b6?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="h-8 w-8 rounded-full " alt="">
                    </span>
                  </td>
                  <td class="py-4">
                    <span *ngIf="history.objectType=='License plate' " class="px-4 py-1 rounded-full bg-gray-100 text-gray-600 text-xs">{{ history.objectType }}</span>
                    <span *ngIf="history.objectType=='Facial recognition' " class="px-4 py-1 rounded-full bg-blue-100 text-blue-600 text-xs">{{ history.objectType }}</span>
                    <span *ngIf="history.objectType=='Animal' " class="px-4 py-1 rounded-full bg-green-100 text-success text-xs">{{ history.objectType }}</span>
                  </td>
                  <td class="py-4">{{ history.cameraName }}</td>
                  <td class="py-4">{{ history.cameraLocation }}</td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">
                  <app-empty-page (buttonAction)="route('/app/cameras')" message="You have not performed any search yet"></app-empty-page>
                </td>
            </tr>
        </ng-template>
      </p-table>
  </div>
  </div>

</div>
